html {
  --navbar-color: #15244B;
  --text-prmary: #FFFFFF;
  --text-default: #8C93A8;
  --button-bg: #3F4B6D;
  --button-primary: #F2BF83;
  --button-primary--hover: #fcdab2;
  --bg: #192852;
  --bg-dark: #15244B;
  --bg-footer: #0D193A;
  --swiper-navigation-size: 27px !important;
}

html body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg);
  color: var(--text-default);
  font-size: 14pt;
  height: 100%;
}

html body .navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 1000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: .5s;
  transition: .5s;
}

html body .navbar.navbar-fixed {
  background-color: #15244bb8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: .5s;
  transition: .5s;
}

html body .navbar .navbar-brand span {
  display: none;
}

html body .navbar form[role=search] {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

html body .navbar form[role=search] button {
  background: none;
  border: none;
  position: relative;
  padding-left: 15px;
}

html body .navbar form[role=search] button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(217, 217, 217, 0.2);
  width: 1px;
  height: 100%;
}

html body .navbar form[role=search] input {
  padding: 0;
  background: none;
  border: none;
  color: white;
  min-width: 186px;
  outline: none !important;
}

html body .swiper.swiper-list {
  margin-bottom: 20px;
}

html body .swiper.swiper-list .swiper-slide-poster {
  text-align: center;
  text-decoration: none;
  color: var(--text-prmary);
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 16px;
}

@media (min-width: 1200px) {
  html body .swiper.swiper-list .swiper-slide-poster {
    max-width: 200px;
  }
}

html body .swiper.swiper-list .swiper-slide-poster .image {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin-bottom: 16px;
}

html body .swiper.swiper-list .swiper-slide-poster .image::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47.24%, rgba(25, 40, 82, 0)), color-stop(94.78%, rgba(25, 40, 82, 0.5)));
  background: linear-gradient(180deg, rgba(25, 40, 82, 0) 47.24%, rgba(25, 40, 82, 0.5) 94.78%);
}

html body .swiper.swiper-list .swiper-slide-poster .image .episodes {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  color: var(--text-prmary);
  font-size: 16px;
  padding-bottom: 10px;
}

html body .swiper.swiper-list .swiper-slide-poster .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1200px) {
  html body .swiper-ongoing .swiper[first-big=true] .swiper-slide-active {
    max-width: 400px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

html body .swiper#main {
  position: relative;
  width: 100%;
}

html body .swiper#main .swiper-button-next, html body .swiper#main .swiper-button-prev {
  color: var(--text-prmary);
}

html body .swiper#main .swiper-pagination-controll .container {
  position: relative;
}

html body .swiper#main .swiper-pagination-controll .container .swiper-pagination-bullets {
  left: unset;
  right: 0;
  bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

html body .swiper#main .swiper-pagination-controll .container .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 19px;
  height: 13px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-pagination-controll .container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 36px;
  height: 13px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-slide {
  position: relative;
  z-index: 0;
}
.swiper-slide .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

html body .swiper#main .swiper-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 156px;
  background: -webkit-gradient(linear, left top, left bottom, from(#192852), to(rgba(24, 38, 80, 0)));
  background: linear-gradient(180deg, #192852 0%, rgba(24, 38, 80, 0) 100%);
  z-index: 5;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .swiper#main .swiper-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 392px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 38, 80, 0)), color-stop(58.85%, rgba(24, 39, 81, 0.64)), to(#192852));
  background: linear-gradient(180deg, rgba(24, 38, 80, 0) 0%, rgba(24, 39, 81, 0.64) 58.85%, #192852 100%);
  z-index: 5;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .swiper#main .swiper-slide .swiper-slide-image {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .swiper#main .swiper-slide .swiper-slide-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body .swiper#main .swiper-slide .content {
  position: absolute;
  z-index: 10;
  bottom: 123px;
  left: 0;
  right: 0;
  margin-left: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-slide .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

html body .swiper#main .swiper-slide .content .container .image {
  margin-bottom: 2%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-slide .content .container .image img {
  width: 50%;
}

html body .swiper#main .swiper-slide .content .container .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-slide .content .container .episodes {
  color: var(--text-prmary);
  font-size: 1vw;
}

html body .swiper#main .swiper-slide .content .container .studio {
  color: var(--text-prmary);
  font-size: 1vw;
}

html body .swiper#main .swiper-slide .content .container .genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;
}

html body .swiper#main .swiper-slide .content .container .genres a {
  color: var(--text-prmary);
  background: rgba(217, 217, 217, 0.1);
  border-radius: 5px;
  padding: 2px 6px;
  gap: 10px;
  margin-right: 9px;
  font-size: 1vw;
  text-decoration: none;
}

html body .swiper#main .swiper-slide .content .container .description {
  width: 70%;
  margin-bottom: 2%;
  line-height: 18px;
  font-size: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

html body .swiper#main .swiper-slide .content .container .screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .swiper#main .swiper-slide .content .container .screenshots .screenshot {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 15px;
  width: 16%;
}

html body .swiper#main .swiper-slide .content .container .screenshots .screenshot img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body .swiper#main .swiper-slide .content .container .screenshots .screenshot::before {
  content: '';
  position: absolute;
  background: rgba(25, 40, 83, 0.8);
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-slide .content .container .screenshots .screenshot:hover::before {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

html body .swiper#main .swiper-slide.swiper-slide-next .content, html body .swiper#main .swiper-slide.swiper-slide-duplicate-next .content {
  margin-left: 200px;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

html body .swiper#main .swiper-slide.swiper-slide-prev .content, html body .swiper#main .swiper-slide.swiper-slide-duplicate-prev .content {
  margin-left: -200px;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

html body .swiper#main .swiper-slide.swiper-slide-active .content {
  margin-left: 0px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 1;
}

.btn-primary {
  background: var(--button-primary);
  border-radius: 5px;
  color: var(--button-bg);
  padding: 6px 10px;
  font-size: 1vw;
}

.btn-primary svg {
  margin-right: 13px;
}

.btn-primary:hover {
  background: var(--button-primary--hover);
}

.btn-default {
  background: var(--bg);
  border-radius: 5px;
  color: var(--text-prmary);
  padding: 6px 10px;
  font-size: 1vw;
}

.btn-default:hover {
  background: var(--button-bg);
}
/*# sourceMappingURL=style.css.map */


.swiper-info {
  width: 50%;
}
.ongoing-main {
  margin-top: -4%;
  position: relative;
  z-index: 100;
  margin-bottom: 10px;
}
.ongoing-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ongoing-btn span {
  color: #FFFFFF;
  font-size: 1.5vw;
}
.ongoing-btn a {
  background: #192852;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 5px;
  text-decoration: none;
  font-size: 1vw;
}
.later {
  background-color: #15244B;
  padding-bottom: 40px;
  padding-top: 40px;
}
.later-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.later-btn span {
  color: #FFFFFF;
  font-size: 1.5vw;
}
.later-btn a {
  background: #192852;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 5px;
  text-decoration: none;
  font-size: 1vw;
}
.anime-poster-main {
  height: 100%;
}
.later hr {
  border: 2px solid;
  position: relative;
}
.later-line-text {
  margin-bottom: 5px;
}
.circle {
  background: #FFFFFF;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.later-line-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-later {
  margin-top: -23px;
}
.social-banner {
  width: 100%;
  background: linear-gradient(270deg, rgba(239, 176, 151, 0.2) 19.58%, rgba(0, 0, 0, 0) 45.1%), #192852;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.follow {
  width: 100%;
  border-radius: 20px;
}
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links span {
  color: #FFFFFF;
  font-size: 1.5vw;
}
.social-links-where {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.social-links img {
  width: 10%;
  margin-right: 20px;
}
.manga-list {
  padding-top: 20px;
  margin-bottom: 40px;
}
footer {
  background: #0D193A;
  position: absolute;
  width: 100%;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-custom {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 1000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: .5s;
  transition: .5s;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
}
.navbar-list {
  display: flex!important;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #C8C6DA;
  margin-right: auto!important;
}
.nav-link {
  margin-left: 10px;
  font-size: 1vw;
}
.search {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 0.2% 0.6%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          display: flex;
}

.search button {
  background: none;
  border: none;
  position: relative;
  padding-left: 15px;
}

.search button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(217, 217, 217, 0.2);
  width: 1px;
  height: 100%;
}

.search input {
  padding: 0;
  background: none;
  border: none;
  color: white;
  outline: none !important;
  width: 90%;
  font-size: 0.8vw;
}
.btn-header-right {
  display: flex;
  width: 30%;
}
.foryou {
  color: #FFFFFF;
  margin-left: 20px;
}
.dropdown-menu {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.dropdown-item {
  color: #FFFFFF;
}
.login-btn {
  list-style: none;
}
.login-btn .dropdown-menu {
  background: #192852;
  border-radius: 5px;
  border: 0;
  padding: 5px;
}
.login {
  display: flex;
  flex-direction: column;
}
.edit {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #192852;
  overflow: auto;
  top: 0;
}
.edit-syze {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}
.edit-syze a {
  text-decoration: none;
  color: #FFFFFF;
}
.edit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-info-save {
  display: flex;
  justify-content: space-between
}
.edit-info span {
  color: #FFFFFF;
}
.edit-info input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  padding: 5px;
  outline: none;
  margin-bottom: 10px;
}
.edit-info button {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  padding: 5px;
  outline: none;
  margin-bottom: 20px;
}
.edit-info img {
  border-radius: 50%;
}
.reg a {
  text-decoration: none;
  color: #FFFFFF;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.reg-panel {
  position: absolute;
  z-index: 50;
  background-color: #15244B;
  border-radius: 10px;
  padding: 10px;
  width: 20%;
}
.reg-panel .edit-info {
  align-items: normal;
}
.header-dark {
  background-color: #15244B;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.register .edit-info-save {
  justify-content: center;
}
.profile {
  margin-top: 70px;
  display: flex;
  min-height: 100%;
}
.profile-img {
  width: 30%;
}
.profile-img img {
  width: 100%;
  border-radius: 50%;
}
.profile-info-size {
  margin: 20px;
  width: 100%;
}
.profile-info {
  background-color: #15244B;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.profile-info-title {
  color: #FFFFFF;
  font-size: 1.5vw;
}
.profile-info-description {
  color: #FFFFFF;
}
.profile-info .edit-info {
  align-items: normal
}
.edit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tablinks {
  background: rgba(217, 217, 217, 0.2);
  color: #FFFFFF;
  border: 0;
  padding: 5px;
}
.profile-edit {
  width: 100%;
  margin-top: 10px;
}
.settings {
  width: 100%;
}
.profile-name {
  font-size: 2vw;
  color: #FFFFFF;
}
.profile-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-online {
  font-size: 1vw;
}
.edit-info textarea {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  padding: 5px;
  outline: none;
  margin-bottom: 10px;
}
.profile-img .tablinks {
  border-radius: 5px;
}